<div class="container">
    <h1 class="text-center mt-4">Articles</h1>
    <div class="flickr_pagination">
        <%= will_paginate @articles, :container => false %>
    </div>
    <div class="row">
        <div class="col-12">
            <%= render 'article' %>
        </div>
    </div>
</div>
