<div class="container" id="home-container">
  <div class="jumbotron text-center text-white">
    <h1 class="display-4">Blog Hub</h1>
    <p class="lead">This is a blogging website that makes it easy for you to write articles and to be viewed by other bloggers</p>
    <hr class="my-4">
    <p>Join our community and enjoy the experience</p>
    <%= link_to 'Sign Up', signup_path, class: "btn btn-success btn-lg" %>
  </div>
</div>

